@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.group:hover .group-hover\:flex {
    display: flex;
}

.group .group-focus\:block {
    display: none;
}

.group:focus-within .group-focus\:block {
    display: block;
}
